.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: #fff;
    width: 50%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
    
}

button {
    margin-top: 20px;
    padding: 8px 16px;
    font-size: 16px;
    border: 2px solid #4f6650;
    border-radius: 24px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

.input-container {
    margin-top: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;;
}

input {
    padding: 8px 8px;
    width: 65px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.player-select {
    padding: 8px 8px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}